<StackLayout horizontalAlignment="center" verticalAlignment="center">
    <GridLayout class="m-5" rows="auto auto auto auto" columns="*, *" [formGroup]= "commentForm">
        <Label class="h3 m-15" row="0" col="0" text="Author" textWrap="true"></Label>
        <TextField class="input input-border" hint = "Enter Name" [text]=''
            row="0" col="1" formControlName="author" (textchange)="onAuthorChange($event)"></TextField>
        <Label class="h3 m-15" row="1" col="0" text="Rating" textWrap="true"></Label>
        <Slider row="1" col="1" value="1" minValue="0" maxValue="5" formControlName="rating" (sliderchange)="onSliderChange($event)"></Slider>
        <Label class="h3 m-15" row="2" col="0" text="Comment" textWrap="true"></Label>
        <TextField (textchange)="onCommentChange($event)" class="input input-border" hint = "Enter Comment" [text]=''
            row="2" col="1" formControlName="comment"></TextField>
        <Button row="3" col="0" class="btn btn-primary btn-active" text="submit"
        (tap)="onSubmit()" [isEnabled]="commentForm.valid"></Button>
    </GridLayout>
</StackLayout>