<ActionBar title="Menu" class="action-bar">
     <NavigationButton text="Menu" icon="res://ic_drawer" (tap)="openDrawer()"></NavigationButton>
</ActionBar>

<RadSideDrawer #drawerComponent tkToggleNavButton showOverNavigation="true">
    <ScrollView tkDrawerContent class="sidedrawer-left">
        <StackLayout horizontalAlign="left">
            <drawer-content></drawer-content>
        </StackLayout>
    </ScrollView>
        <StackLayout tkMainContent class="page">
            <ListView [items]="dishes" class="list-group" *ngIf='dishes'>
                <ng-template let-dish="item">
                    <StackLayout orientation="horizontal" class="list-group-item" [nsRouterLink]="['/dishdetail', dish.id]">
                        <Image row="0" col="0" rowSpan="2" height="108" width="108" [src] = "BaseURL + dish.image"
                            class="thumb p-16">
                        </Image>
                        <GridLayout class = "list-group-item" rows = "auto *" columns="*">
                            <Label row="0" col="0" class="list-group-item-heading" 
                                [text]="dish.name"></Label>
                            <Label row="1" col="0" class="list-group-item-text" 
                                [text]="dish.description"></Label>
                        </GridLayout> 
                    </StackLayout>
                </ng-template>
            </ListView>
            <ActivityIndicator busy="true" *ngIf="!(dishes || errMess)" width="50" height="50" 
                class="activity-indicator">
            </ActivityIndicator>
            <Label *ngIf = "errMess" [text]="'Error: ' + errMess"></Label>
    </StackLayout>
</RadSideDrawer>