<ActionBar title="About Us" class="action-bar">
     <NavigationButton text="Menu" icon="res://ic_drawer" (tap)="openDrawer()"></NavigationButton>
</ActionBar>

<RadSideDrawer #drawerComponent tkToggleNavButton showOverNavigation="true">
    <ScrollView tkDrawerContent class="sidedrawer-left">
        <StackLayout horizontalAlign="left">
            <drawer-content></drawer-content>
        </StackLayout>
    </ScrollView>
    <ScrollView orientation="vertical" tkMainContent class="page">
        <GridLayout class="m-5" rows="auto auto auto">
            <StackLayout row="0" class="p-10 border">
                <StackLayout row="0">
                <Label row="0" height="40" class="m-t-10 h2" text="Our History"></Label>
                </StackLayout>
                <StackLayout row="0">
                <Label row="0" col="0" class="body"
                    textWrap="true"
                    text="Started in 2010, Ristorante con Fusion quickly established itself as a culinary icon par excellence in Hong Kong. With its unique brand of world fusion cuisine that can be found nowhere else, it enjoys patronage from the A-list clientele in Hong Kong.  Featuring four of the best three-star Michelin chefs in the world, you never know what will arrive on your plate the next time you visit us."></Label>

                <Label row="0" col="0" class="body"
                    textWrap="true"
                    text="The restaurant traces its humble beginnings to The Frying Pan, a successful chain started by our CEO, Mr. Peter Pan, that featured for the first time the world's best cuisines in a pan."></Label>
                </StackLayout>
            </StackLayout>
            <StackLayout row="1" class="p-5 h2">
                <Label row="1" text="Corporate Leadership"></Label>
            </StackLayout>
            <StackLayout row="2" class="m-10">
                    <ScrollView orientation="vertical">
                        <ListView [items]="leaders" height="1470" class="list-group" *ngIf="leaders">
                            <ng-template let-leader="item">
                            <Stacklayout orientation="horizontal" class="list-group-item">
                                <Image row="0" col="0" height="40" width="40"
                                    [src]="BaseURL + leader.image" class="img-circle"></Image>
                                <GridLayout class="list-group-item" rows="auto auto auto" columns="*">
                                <Label row="0" col="0" class="list-group-item-heading"
                                    [text]="leader.name" textWrap="true">
                                </Label>
                                <Label row="1" col="0" class="list-group-item-text"
                                    [text]="leader.designation" textWrap="true">
                                </Label>
                                <Label row="2" col="0" class="list-group-item-text"
                                    [text]="leader.description" textWrap="true">
                                </Label>
                                </GridLayout>
                            </Stacklayout>
                            </ng-template>
                        </ListView>
                    </ScrollView>      
            <ActivityIndicator busy="true" *ngIf="!(leaders || errMess)" width="50" height="50" 
                class="activity-indicator">
            </ActivityIndicator>
            <Label *ngIf = "errMess" [text]="'Error: ' + errMess"></Label>
            </StackLayout>
        </GridLayout>
        </ScrollView>
</RadSideDrawer>